@import "tailwindcss";

@font-face {
    font-family: Alata;
    src: url("./fonts/Alata/Alata-Regular.ttf");
}

@font-face {
    font-family: Josefin Sans;
    src: url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@theme{
    --font-alata: "Alata", sans-serif;
    --font-josefin: "Josefin Sans",  sans-serif;

    --inset-shadow-grid: inset 100px 0 60px rgba(0, 0, 0, 0.5);
}

@utility grid-styling-mobile {
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-family: var(--font-josefin);
    font-weight: 100;
    padding: 3.5rem 11rem 1.25rem 1.25rem;
}

@utility grid-styling-desktop {
    padding: 30rem 0px 2rem 2.5rem;
    font-size: 2rem;
    line-height: 2rem;
}

@utility h-vh{
    height: 100vh;
}

@utility overlay-bg{
    background-color: color-mix(in oklab, #D8D8D8 /* oklch(0.637 0.237 25.331) = #fb2c36 */ 50%, transparent);
}

@utility overlay{
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 255, 255, 0.632);
}