// Includes variables, mixins and functions

// Primary Colors
$primary-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);
$primary-dark-gray: hsl(0, 0%, 55%);
$primary-very-dark-gray: hsl(0, 0%, 41%);

// Font size
$base-font-size: 0.9375rem;

// Flex mixin
@mixin flex($flex-direction: row, $justify-content: center, $align-items: center, $gap: 1rem){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}